.html1{

    background-image: url('Img/Drift1.jpg');
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.html2{
    background-image: url(Img/car-icegif-2.gif);
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.html3{

    background-image: linear-gradient(to top right, #696969 0%, #F0F8FF 50%, #696969 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.html4{

    background-image: url('Img/auto\ drift.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.html5{

    background-image: linear-gradient(to top right, #030303 0%, #4F4F4F 50%, #7D7D7D 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titolo1{

    text-align: center;
    color: black;
    font-size: 300%;
    
}

.titolo2{
    text-align: center;
    font-size: 300%;
    color: white;
    
}

.titolo3{

    font-size: 200%;
    text-align: center;
    color: black;
}

.titolo4{

    text-align: center;
    font-size: 200%;
    color: white;
}

h2{
    color: black;
    text-decoration: underline;
}

.par1{
    font-size: 150%;
    color: white;
    text-align: justify;
    
    
}

.par2{

    color: black;
    text-align: justify;
    font-size: 150%;
}

.par3{
    font-size: 230%;
    color: white;
    text-align: justify;
}

td{

    border: 8px solid;
    border-radius: 10px;
    border-color: white;
    padding: 10px;
    text-align: center;
    font-size: 200%;
    background-color: #e6e6e6;
    border-style: outset;
    opacity: 0.8;
    
    
    
}

table{

    border-spacing: 40px;
    width: 100%;
    height: 30%;
    text-align: center;
    
}

.li1{

    font-size: 150%;
    color: white;
}

.li2{

    color:black;
    text-align: justify;
    text-align: left;
    font-size: 150%;
    
}

.li3{

    font-size: 230%;
    color: white;
}



.a1{
    color: black; 
    text-decoration: none;
    
    
}

.a2{

    font-size: 150%;
    color: blue;
}



.img1{

    width: 33%;
}

.img3{

    width: 39%;
    
    
}

.img4{

    width: 26%;
    height: 40%;
    
    
}
